body {
    background-color: #ddd;
}

@keyframes invisible-image {
    2.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%);
    }
    5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%);
    }
    7.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%);
    }
    10% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%);
    }
    12.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%);
    }
    15% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%);
    }
    17.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%);
    }
    20% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%);
    }
    22.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%);
    }
    25% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%);
    }
    27.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%);
    }
    30% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%);
    }
    32.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%);
    }
    35% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%);
    }
    37.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%);
    }
    40% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%);
    }
    42.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%);
    }
    45% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%);
    }
    47.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%);
    }
    50% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%);
    }
    52.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%);
    }
    55% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%);
    }
    57.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%);
    }
    60% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%);
    }
    62.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%);
    }
    65% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%);
    }
    67.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%);
    }
    70% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%);
    }
    72.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%);
    }
    75% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%);
    }
    77.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%);
    }
    80% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%, 88% 87%);
    }
    82.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%, 88% 87%, 81% 92%);
    }
    85% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%, 88% 87%, 81% 92%, 73% 96%);
    }
    87.5% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%, 88% 87%, 81% 92%, 73% 96%, 65% 100%);
    }
    90% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%, 88% 87%, 81% 92%, 73% 96%, 65% 100%, 57% 100%);
    }
    100% {
        clip-path: polygon(50% 48%, 50% 100%, 38% 100%, 31% 100%, 23% 100%, 14% 98%, 8% 93%, 2% 86%, 0% 75%, 0% 65%, 0% 56%, 0% 47%, 0% 38%, 4% 26%, 10% 16%, 16% 9%, 24% 3%, 33% 0%, 43% 0%, 50% 0%, 60% 1%, 69% 1%, 76% 5%, 84% 10%, 89% 18%, 94% 24%, 99% 31%, 100% 38%, 100% 45%, 100% 53%, 99% 62%, 99% 71%, 94% 80%, 88% 87%, 81% 92%, 73% 96%, 65% 100%, 57% 100%, 50% 100%);
    }
}

img {
    animation-name: invisible-image;
    animation-duration: 1.5s;
    animation-timing-function: easy-in;
    animation-iteration-count: infinite;
}